{# template #}
{% extends "main.html" %}

{# extra head #}
{% block extrahead %}
    {# styles #}
    <style>
        .md-typeset hr {
            margin: 0;
        }

        /* post */
        .md-typeset .post {
            margin-bottom: 1rem;
            padding-bottom: 0.5em;
            border-bottom: .05rem solid var(--md-default-fg-color--lightest);
        }
        .md-typeset .post .post-title {
            margin: 0.25rem 0;
            text-decoration: none;
            font-size: 1.3em;
        }
        .md-typeset .post .post-info-wrap{
            display: flex;
        }
        .md-typeset .post .post-info {
            width: 100%;
        }
        .md-typeset .post .post-banner {
            margin-top: -1rem;
            height: 100%;
            max-height: 4rem;
        }
        @media (max-width: 800px) {
            .md-typeset .post .post-banner {
                max-height: 2rem;
            }
        }
        .md-typeset .post .post-description {
            margin: 0 1rem 0 0;
        }
        .md-typeset .post .post-extra {
            margin: 0.5rem 1rem 0 0;
            font-size: small;
            color: darkgray;
        }
        .md-typeset .post .post-tags {
            margin: 0;
            text-align: end;
        }
        .md-typeset .post .post-date {
            margin: 0;
        }
        .md-typeset .twemoji,
        .md-typeset .icon-text,
        .md-typeset .git-revision-date-localized-plugin {
            vertical-align: middle;
            display: inline-block;
        }
        /* page */
        .md-typeset .pages>.page {
            display: block;
        }

        /* pagination */

        .md-typeset .md-pagination {
            margin: 0.5em 0;
        }
        .md-typeset .md-pagination a,
        .md-typeset .md-pagination span {
            border-radius: 2em;
        }
        .md-typeset .md-pagination .md-pagination__current {
            background-color: var(--color);
            color: white;
            font-weight: bold;
        }
        .md-typeset .md-pagination a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
{% endblock %}

{# content #}
{% block content %}
{% if posts|count > 0 %}
    {#pagination top#}
    {% if pagination %}
    {% include "partials/pagination.html" %}
    {% endif %}
    <hr>
    {% from "partials/colors.html" import color %}
    <div class="pages">
        <div class="page">
            {% for post in posts %}
                {% set post_image = "" %}
                {% if post.meta and post.meta.banner %}
                    {% set post_image = post.canonical_url ~ post.meta.banner %}
                {% endif %}
                <div class="post">
                    <h4 class="post-title">
                        <a href="{{ post.canonical_url }}">{{ post.title }}</a>
                        {% if post.meta and post.meta.category %}
                            <span class="md-source-file__fact">
                                <span class="md-icon" title="分類">
                                    {% include ".icons/material/folder-open.svg" %}
                                </span>
                                {{ post.meta.category }}
                            </span>
                        {% endif %}
                    </h4>
                    <div class="post-info-wrap">
                        <div class="post-info">
                            <p class="post-description">
                                {% if post.meta and post.meta.description %}
                                    {{ post.meta.description | truncate(200) }}
                                {% endif %}
                            </p>
                            <div class="post-extra row">
                                <div class="col">
                                    <p class="post-date">
                                        <span class="twemoji">
                                            {% include ".icons/material/calendar.svg" %}
                                        </span>
                                        <span class="icon-text">
                                            {{ post.meta.date }}
                                        </span>
                                    </p>
                                </div>
                                <div class="col">
                                    {% if post.meta and post.meta.tags %}
                                        <p class="post-tags">
                                            {% for tag in post.meta.tags %}
                                            <a class="tag" href="{{ config.site_url }}tags/#{{tag}}">
                                                <span class="tag-name" style="color:{{ color( loop.index%12) }};">
                                                    &nbsp; #{{ tag }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if post_image %}
                            <img class="post-banner " src='{{ post_image }}' />
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{# pagination bottom#}
    {% if pagination %}
        {% include "partials/pagination.html" %}
    {% endif %}
{% else %}
    <style>
        .md-typeset .center {
            text-align: center;
        }
    </style>
    <p class="center">
        尚無文章
    </p>
{% endif %}
{% endblock %}